<div class="panel">
    <div class="panel-heading pointer" ng-click="showFilters = !showFilters" ng-init="showFilters = true">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <p style="margin-bottom:0;">
                <strong>Filtros</strong>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <p style="margin-bottom:0;">
                <span class="fa fa-cog pull-right filter-icon" ng-class="showFilters ? 'open' : ''"></span>
            </p>
        </div>

    </div>
    <div class="panel-body" ng-if="showFilters">
        <form role="form" ng-submit="ctrl.filter()">

            <ng-include src="'js/modules/estadistico/views/partials/table-filters-date.html'"></ng-include>
            <ng-include src="'js/modules/estadistico/views/partials/table-filters-fields.html'"></ng-include>
            <ng-include ng-if="showAdvanced" src="'js/modules/estadistico/views/partials/table-filters-all.html'"></ng-include>

            <div class="col-md-12 col-xs-4 col-lg-3 pull-right filter-buttons">
                <div class="form-group">
                    <button class="btn btn-success pull-right search" type="submit">Buscar</button>
                    <button class="btn btn-default pull-right search showAdvancedFilters" ng-click="showAdvanced = !showAdvanced" type="button">Avanzados</button>
                </div>
            </div>

    </div>
</div>