<div class="col-md-12 col-xs-12 col-lg-12">
    <div class="row">

        <div class="panel">
            <div class="panel-heading pointer" ng-click="showFilters = !showFilters" ng-init="showFilters = true">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p style="margin-bottom:0;">
                        <strong>Configuraciones del Estad&iacute;stico</strong>
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p style="margin-bottom:0;">
                        <span class="fa fa-cog pull-right filter-icon" ng-class="showFilters ? 'open' : ''"></span>
                    </p>
                </div>

            </div>
            <div class="panel-body" ng-if="showFilters">
                <form role="form" ng-submit="ctrl.filter()" ng-if="false">

                    <div class="col-md-12">
                        <div class="">
                            <div class="col-md-4">

                                <div class="btn-group calTools">
                                    <button type="button" class="btn btn-primary" ng-click="addEvent()">
                                        Add Event
                                    </button>
                                </div>


                                <div ng-repeat="e in events">
                                    <div class="alert alert-info">
                                        <a class="close" ng-click="remove($index)"><i class="glyphicon-remove"></i></a>
                                        <b><input type="text" ng-model="e.title"><input ng-model="e.value"></b>
                                        {[{e.start| date:"MMM dd"}]} - {[{e.end| date:"MMM dd"}]}
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-8">

                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar1')">AgendaDay</button>
                                        <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar1')">AgendaWeek</button>
                                        <button class="btn btn-success" ng-click="changeView('month', 'myCalendar1')">Month</button>
                                    </div>
                                </div>
                                <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>

                            </div>
                        </div>
                    </div>
                </form>

                <div calendar-events calendar-id="fullCalendarEvents" droppable-elements-class="fc-event" events="events" add='ctrl.AddDB' update='ctrl.updateDB' getAll='ctrl.getAllEvent'></div>
                <div id='fullCalendarEvents'></div>
            </div> 
        </div> 
    </div>
    <script>
        $(document).ready(function () {
          

        });

    </script>
    <style>
        #external-events {
            float: left;
            width: 15%;
            margin-right: 10px;
            padding: 0 10px;
            border: 1px solid #ccc;
            background: #eee;
            text-align: left;
        }

        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }

        #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }

        #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            color: #666;
        }

        #external-events p input {
            margin: 0;
            vertical-align: middle;
        }
        #fullCalendarEvents {
            float: right;
            width: calc(85% - 15px);
        }

    </style>