<div class="row">
    <div class="col-md-12">


        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="tableParams" class="table table-striped table-vmiddle" show-filter="true">
                    <thead>
                        <tr>
                            <th>{[{ctrl.visibleNames[filters.field1.name]}]}/{[{ctrl.visibleNames[filters.field2.name]}]}</th>
                            <th ng-repeat="column in columnas" ng-if="column.field != 'Total'"
                                class="text-center sortable" ng-class="{
                                    'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                                    'sort-desc': tableParams.isSortBy(column.field, 'desc')
                                  }"
                                ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')"
                                >{[{column.title}]}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cod in tableData">
                            <td align="center">
                                {[{ cod.ejeY}]}
                            </td>
                            <td align="center" ng-repeat="dia in cod.ejeX" sortable="'{{dia.field}}'" ng-if="dia.field != 'Total'">
                                {[{cod.ejeX[cod.ejeX.length - 1].cantidad == 0 ? 0 : dia.cantidad * 100 / cod.ejeX[cod.ejeX.length - 1].cantidad| number:2}]}%
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <br/>
    </div>
</div>