<div class="panel">
    <div class="panel-heading pointer" ng-click="showFilters = !showFilters" ng-init="showFilters = true">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <p style="margin-bottom:0;">
                <strong>Configuraciones de Seguridad</strong>
            </p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <p style="margin-bottom:0;">
                <span class="fa fa-cog pull-right filter-icon" ng-class="showFilters ? 'open' : ''"></span>
            </p>
        </div>

    </div>
    <div class="panel-body " ng-if="showFilters">
        <form class=" adminTime" role="form" ng-submit="ctrl.editConfig('Desabilitar', ctrl.timeD, 1)">
            <div class="col-md-2" >
                <label>Vigencia de contrase&ntilde;a (D&iacute;as)</label>
                <div class="form-group ">
                    <div class=" form-group ">
                        <input type="text" name="timeD" placeholder="Tiempo habilitado (Dias)"ng-model="ctrl.timeD" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="col-md-12 " >
                <div class="form-group ">
                    <div class=" form-group ">
                        <button type="submit" class="btn btn-primary">Salvar Cambios</button>
                    </div>
                </div>
            </div>
        </form>
        <form class=" adminTime" role="form" ng-submit="ctrl.editConfig('MinPass', ctrl.minPass, 2)">
            <div class="col-md-2" >
                <label>Cantidad de caracteres (contrase&ntilde;a)</label>
                <div class="form-group ">
                    <div class=" form-group ">
                        <input type="text" name="timeD" ng-model="ctrl.minPass" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 " >
                <div class="form-group ">
                    <div class=" form-group ">
                        <button type="submit" class="btn btn-primary">Salvar Cambios</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>