<div class="col-md-12 col-xs-12 col-lg-12 services">
    <div class="row">

        <div class="panel">
            <div class="panel-heading pointer" >
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <p style="margin-bottom:0;">
                        <strong>Configuraciones de Base 24</strong>
                    </p>
                </div>
               
            </div>
            <div class="panel-body">
                

            </div>
        </div> 
    </div>
</div> 

