<div class="col-md-12 col-xs-12 col-lg-12">
    <div class="row">

        <!--  <ng-include src="'js/modules/estadistico/views/filters.html'"></ng-include>-->


        <ng-include src="'js/modules/estadistico/views/partials/table-filters.html'"></ng-include>
        <button class="btn filtrar btn-link codR" ng-class="advanced ? 'open' : ''" title="Filtros avanzados" ng-click="advanced = !advanced"><i class="tm-icon zmdi zmdi-filter-list"></i></button>
        <ng-include ng-if="advanced" src="'js/modules/estadistico/views/partials/table-filters-all.html'"></ng-include>

        
        
        <div class="panel">
            <div class="table-responsive" ng-if="dataReady">
                <table ng-table="tableParams" class="table table-striped table-vmiddle" show-filter="true">
                    <thead>
                        <tr>
                            <th>{[{filters.field1}]}/{[{filters.field2}]}</th>
                            <th ng-repeat="column in columnas"
                                class="text-center sortable" ng-class="{
                                    'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                                    'sort-desc': tableParams.isSortBy(column.field, 'desc')
                                  }"
                                ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')"
                                >{[{column.title}]}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="y in tableData">
                            <td>
                                {[{ y.ejeY}]}
                            </td>
                            <td ng-repeat="x in y.ejeX" >
                                {[{x.cantidad}]}
                            </td>
                        </tr>
                        <tr>
                            <td>TOTAL</td>
                            <td ng-repeat="d in columnas" >
                                {[{d.field=="Total" ? arrayTotal["TotalDeTotal"]: arrayTotal[d.field]}]}
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>




        <!--<div class="preunified pointer " ng-if="!ctrl.isEmpty(selected)" ng-click="ctrl.preunific()">
            <div class="row text-center">
                <span ng-if="exporting" class="fa fa-spin fa-spinner fa-4x text-primary" aria-hidden="true" uib-tooltip="Unificar"></span>
                <span ng-hide="exporting" class="fa fa-check fa-4x text-primary" aria-hidden="true" uib-tooltip="Unificar"></span>
            </div>
        </div>-->