       
            <div class="table-responsive" >
                <table ng-table="tableParams" class="table table-striped table-vmiddle" show-filter="true">
                    <thead>
                        <tr>
                            <th>{[{ctrl.visibleNames[filters.field1.name]}]}/{[{ctrl.visibleNames[filters.field2.name]}]}</th>
                            <th ng-repeat="column in columnas"
                                class="text-center sortable" ng-class="{
                                    'sort-asc': tableParams.isSortBy(column.field, 'asc'),
                                    'sort-desc': tableParams.isSortBy(column.field, 'desc')
                                  }"
                                ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')"
                                >{[{column.title}]}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="y in tableData">
                            <td align="center">
                                {[{ y.ejeY}]}
                            </td>
                            <td align="center" ng-repeat="x in y.ejeX" ng-class="x.field != 'Total' ? ctrl.getClass(x.cantidad, y.ejeY, x.field) : ''">
                                {[{x.cantidad}]}
                            </td>
                        </tr>
                        <tr>
                            <th align="center">Total</th>
                            <td  align="center" ng-repeat="d in columnas" >
                                {[{d.field=="Total" ? arrayTotal["TotalDeTotal"]: arrayTotal[d.field]}]}
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
       