<div class="col-md-12 col-xs-12 col-lg-12">
    <div class="row">

        <div class="panel">
            <div class="panel-heading pointer"  ng-init="showFilters = true" ng-click="showFilters = !showFilters">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p style="margin-bottom:0;">
                        <strong>Servicios de los Bancos</strong>
                    </p>
                </div>
            </div>
            <div class="panel-body" ng-if="showFilters">
                <div class="col-md-2" id="menu_gral">
                    <ul>
                        <li><a href="">Bancos</a>
                            <div class="panel">
                                <a ng-repeat="b in bancos" ng-click="ctrl.Banco(b)">{[{b.name}]}</a>
                            </div>
                        </li>
                        <li><a href="">Productos</a>
                            <div class="panel" ><a  ng-click="ctrl.Producto('ATM')" href="">ATM</a>
                                <a  ng-click="ctrl.Producto('POS')" href="">POS</a>
                                 <a  ng-click="ctrl.Producto('ALL')" href="">ALL</a>
                            </div>

                        </li>
                        <li><a href="">Bines</a>
                            <div class="panel">
                                <a ng-repeat="p in prefijo" ng-click="ctrl.Bins(p)" href="">{[{p.name}]}</a>
                            </div>
                        </li>
                        <li><a href="">Tipo de Cuenta</a>
                            <div class="panel" >
                                <a ng-repeat="tt in tipotarjeta" ng-click="ctrl.TTarjeta(tt)" href="">{[{tt.name}]}</a>
                            </div>
                        </li>
                        <li><a href="">Sevicios</a>
                            <div class="panel" > 
                                <a ng-repeat="s in service" ng-click="ctrl.Servicio(s)" href="">{[{s.name}]}</a>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="col-md-10">
                    <div class="panel caja col-md-3 caja" >
                        <h4>Bancos</h4>
                        <p ng-repeat="banco in bancoCaja track by $index" ng-click="ctrl.Banco(banco)">{[{banco.name}]}</p>
                    </div>
                    <div class="panel caja col-md-3 caja" >
                        <h4>Bines</h4> 
                        <p ng-repeat="bin in binsCaja track by $index" ng-click="ctrl.Bins(bin)"> {[{bin.name}]}</p>
                    </div>
                    <div class="panel caja col-md-3 caja" > 
                        <h4>Tipo de Cuenta</h4>
                        <p ng-repeat="t in tarjetaCaja track by $index" ng-click="ctrl.TTarjeta(t)">  {[{t.name}]}</p>
                    </div>
                    <div class="panel caja col-md-3 caja" > 
                        <h4>Producto</h4> 
                        <p ng-repeat="p in ProductoCaja track by $index" ng-click="ctrl.Producto(p.name)" >{[{p.name}]}</p>
                    </div>
                    <div class="panel caja col-md-3 caja" > 
                        <h4>Servicios</h4> 
                        <p ng-repeat="s in serviciosCaja track by $index" ng-click="ctrl.Servicio(s)">  {[{s.name}]}</p>
                    </div>
                </div>

            </div>
        </div> 
    </div>
</div> 
